### THIS IS A PROGRAM TO SCRAPE COMPANY NAME & STOCK TICKERS FROM A WEBSITE

In [84]:
# IMPORT LIBRARIES
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import bs4 as bs
import pickle
import requests

In [85]:
# Create 3 lists: for the Company Name, the Company Ticker and the Stock Price
CName = []
CTicker = []
CPrice = [] # we create this list even though the data is non available with these links

In [87]:
# scrape the data from advfn.com - 
# note this link only collect all the Company Names starting with "A" you'll all to scrape all the other letters with a loop
url='https://www.advfn.com/nyse/newyorkstockexchange.asp?companies=A'
page=requests.get(url)
soup=bs.BeautifulSoup(page.text,'html.parser')
odd_rows=soup.find_all('tr', attrs={'class':'ts0'})
even_rows=soup.find_all('tr', attrs={'class':'ts1'})

In [89]:
# clean the data and append to each respective list
for i in odd_rows:
    row = i.find_all('td')
    CName.append(row[0].text.strip())
    CTicker.append(row[1].text.strip())
    CPrice.append(row[2].text.strip())
    # print (CName, CTicker, CTicker) (this shows them all in the console)

for i in even_rows:
    row = i.find_all('td')
    CName.append(row[0].text.strip())
    CTicker.append(row[1].text.strip())
    CPrice.append(row[2].text.strip())

In [90]:
# create a dataframe with the scraped data
df = pd.DataFrame({'Company Name':CName, 'Company Ticker':CTicker, 'Stock Price':CPrice})
df

                       Company Name Company Ticker Stock Price
0              A H Belo Corporation            AHC
1                          AAR Corp            AIR
2                ABM Industries Inc            ABM
3               ADC Therapeutics SA           ADCT
4            AEABridges Impact Corp           IMPX
..                              ...            ...         ...
474              Avient Corporation           AVNT
475  Aviva Plc Unsponsored Adr (UK)             AV
476      Axalta Coating Systems Ltd           AXTA
477       Axis Capital Holdings Ltd            AXS
478              Axos Financial Inc            AXO

[479 rows x 3 columns]

In [ ]:
# a potential URL to be explored = 'https://www.marketwatch.com/investing/stock/'

In [94]:
# Setup alphavantage API (no need for scraping, data freely provided)
url = 'https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=AAPL&interval=1min&apikey=YHT9TQEZJSK2244Z'
page = requests.get(url)
data = page.json()
print(data)

{'Meta Data': {'1. Information': 'Intraday (1min) open, high, low, close prices and volume', '2. Symbol': 'AAPL', '3. Last Refreshed': '2021-11-05 20:00:00', '4. Interval': '1min', '5. Output Size': 'Compact', '6. Time Zone': 'US/Eastern'}, 'Time Series (1min)': {'2021-11-05 20:00:00': {'1. open': '151.0300', '2. high': '151.0500', '3. low': '151.0200', '4. close': '151.0500', '5. volume': '2032'}, '2021-11-05 19:59:00': {'1. open': '151.0300', '2. high': '151.0300', '3. low': '151.0300', '4. close': '151.0300', '5. volume': '231'}, '2021-11-05 19:58:00': {'1. open': '151.0800', '2. high': '151.0800', '3. low': '151.0100', '4. close': '151.0200', '5. volume': '2561'}, '2021-11-05 19:56:00': {'1. open': '151.0900', '2. high': '151.0900', '3. low': '151.0800', '4. close': '151.0800', '5. volume': '689'}, '2021-11-05 19:55:00': {'1. open': '151.1600', '2. high': '151.1600', '3. low': '151.1600', '4. close': '151.1600', '5. volume': '306'}, '2021-11-05 19:54:00': {'1. open': '151.0600', '2. high': '151.0600', '3. low': '151.0600', '4. close': '151.0600', '5. volume': '2423'}, '2021-11-05 19:53:00': {'1. open': '151.1600', '2. high': '151.1600', '3. low': '151.1000', '4. close': '151.1000', '5. volume': '1635'}, '2021-11-05 19:51:00': {'1. open': '151.1000', '2. high': '151.1000', '3. low': '151.1000', '4. close': '151.1000', '5. volume': '648'}, '2021-11-05 19:49:00': {'1. open': '151.0800', '2. high': '151.0800', '3. low': '151.0700', '4. close': '151.0700', '5. volume': '1023'}, '2021-11-05 19:48:00': {'1. open': '151.0900', '2. high': '151.0900', '3. low': '151.0700', '4. close': '151.0700', '5. volume': '2113'}, '2021-11-05 19:46:00': {'1. open': '151.0700', '2. high': '151.0700', '3. low': '151.0700', '4. close': '151.0700', '5. volume': '1520'}, '2021-11-05 19:44:00': {'1. open': '151.0700', '2. high': '151.0700', '3. low': '151.0700', '4. close': '151.0700', '5. volume': '485'}, '2021-11-05 19:43:00': {'1. open': '151.0900', '2. high': '151.0900', '3. low': '151.0900', '4. close': '151.0900', '5. volume': '325'}, '2021-11-05 19:41:00': {'1. open': '151.0800', '2. high': '151.0800', '3. low': '151.0800', '4. close': '151.0800', '5. volume': '230'}, '2021-11-05 19:40:00': {'1. open': '151.1000', '2. high': '151.1000', '3. low': '151.1000', '4. close': '151.1000', '5. volume': '1455'}, '2021-11-05 19:39:00': {'1. open': '151.1100', '2. high': '151.1101', '3. low': '151.0900', '4. close': '151.1000', '5. volume': '2719'}, '2021-11-05 19:38:00': {'1. open': '151.1101', '2. high': '151.1101', '3. low': '151.1100', '4. close': '151.1100', '5. volume': '1150'}, '2021-11-05 19:35:00': {'1. open': '151.1600', '2. high': '151.1600', '3. low': '151.1100', '4. close': '151.1100', '5. volume': '1020'}, '2021-11-05 19:29:00': {'1. open': '151.1101', '2. high': '151.1101', '3. low': '151.1101', '4. close': '151.1101', '5. volume': '101'}, '2021-11-05 19:22:00': {'1. open': '151.1100', '2. high': '151.1500', '3. low': '151.1100', '4. close': '151.1500', '5. volume': '3317'}, '2021-11-05 19:21:00': {'1. open': '151.1100', '2. high': '151.1100', '3. low': '151.1100', '4. close': '151.1100', '5. volume': '405'}, '2021-11-05 19:20:00': {'1. open': '151.1101', '2. high': '151.1101', '3. low': '151.1101', '4. close': '151.1101', '5. volume': '119'}, '2021-11-05 19:19:00': {'1. open': '151.1100', '2. high': '151.1100', '3. low': '151.1100', '4. close': '151.1100', '5. volume': '414'}, '2021-11-05 19:18:00': {'1. open': '151.1101', '2. high': '151.1101', '3. low': '151.1101', '4. close': '151.1101', '5. volume': '142'}, '2021-11-05 19:16:00': {'1. open': '151.1300', '2. high': '151.1300', '3. low': '151.1300', '4. close': '151.1300', '5. volume': '231'}, '2021-11-05 19:14:00': {'1. open': '151.1300', '2. high': '151.1300', '3. low': '151.1200', '4. close': '151.1200', '5. volume': '200'}, '2021-11-05 19:11:00': {'1. open': '151.1200', '2. high': '151.1200', '3. low': '151.1100', '4. close': '151.1100', '5. volume': '1514'}, '2021-11-05 19:03:00': {'1. open': '151.1100', '2. high': '151.1100', '3. low': '151.1100', '4. close': '151.1100', '5. volume': '141'}, '2021-11-05 19:02:00': {'1. open': '151.1100', '2. high': '151.1100', '3. low': '151.1100', '4. close': '151.1100', '5. volume': '1742'}, '2021-11-05 18:59:00': {'1. open': '151.1100', '2. high': '151.1201', '3. low': '151.1100', '4. close': '151.1201', '5. volume': '267'}, '2021-11-05 18:56:00': {'1. open': '151.1200', '2. high': '151.1200', '3. low': '151.1200', '4. close': '151.1200', '5. volume': '104'}, '2021-11-05 18:55:00': {'1. open': '151.1200', '2. high': '151.1200', '3. low': '151.1200', '4. close': '151.1200', '5. volume': '633'}, '2021-11-05 18:54:00': {'1. open': '151.1201', '2. high': '151.1201', '3. low': '151.1201', '4. close': '151.1201', '5. volume': '322'}, '2021-11-05 18:53:00': {'1. open': '151.1200', '2. high': '151.1200', '3. low': '151.1200', '4. close': '151.1200', '5. volume': '172'}, '2021-11-05 18:50:00': {'1. open': '151.1100', '2. high': '151.1100', '3. low': '151.1100', '4. close': '151.1100', '5. volume': '428'}, '2021-11-05 18:45:00': {'1. open': '151.1200', '2. high': '151.1200', '3. low': '151.1200', '4. close': '151.1200', '5. volume': '161'}, '2021-11-05 18:43:00': {'1. open': '151.1200', '2. high': '151.1200', '3. low': '151.1200', '4. close': '151.1200', '5. volume': '127'}, '2021-11-05 18:40:00': {'1. open': '151.1100', '2. high': '151.1700', '3. low': '151.1100', '4. close': '151.1700', '5. volume': '2877'}, '2021-11-05 18:39:00': {'1. open': '151.1100', '2. high': '151.1100', '3. low': '151.1100', '4. close': '151.1100', '5. volume': '217'}, '2021-11-05 18:38:00': {'1. open': '151.1600', '2. high': '151.1600', '3. low': '151.1100', '4. close': '151.1100', '5. volume': '2999'}, '2021-11-05 18:34:00': {'1. open': '151.1300', '2. high': '151.1600', '3. low': '151.1300', '4. close': '151.1600', '5. volume': '2722'}, '2021-11-05 18:32:00': {'1. open': '151.1200', '2. high': '151.1200', '3. low': '151.1200', '4. close': '151.1200', '5. volume': '402'}, '2021-11-05 18:25:00': {'1. open': '151.1800', '2. high': '151.1800', '3. low': '151.1800', '4. close': '151.1800', '5. volume': '277'}, '2021-11-05 18:24:00': {'1. open': '151.1800', '2. high': '151.1800', '3. low': '151.1800', '4. close': '151.1800', '5. volume': '319'}, '2021-11-05 18:20:00': {'1. open': '151.1800', '2. high': '151.1800', '3. low': '151.1800', '4. close': '151.1800', '5. volume': '289'}, '2021-11-05 18:19:00': {'1. open': '151.1800', '2. high': '151.1900', '3. low': '151.1800', '4. close': '151.1900', '5. volume': '968'}, '2021-11-05 18:18:00': {'1. open': '151.1300', '2. high': '151.1800', '3. low': '151.1300', '4. close': '151.1800', '5. volume': '2047'}, '2021-11-05 18:14:00': {'1. open': '151.1100', '2. high': '151.1100', '3. low': '151.1100', '4. close': '151.1100', '5. volume': '199'}, '2021-11-05 18:12:00': {'1. open': '151.1300', '2. high': '151.1300', '3. low': '151.1300', '4. close': '151.1300', '5. volume': '241'}, '2021-11-05 18:10:00': {'1. open': '151.1300', '2. high': '151.1300', '3. low': '151.1300', '4. close': '151.1300', '5. volume': '215'}, '2021-11-05 18:08:00': {'1. open': '151.1200', '2. high': '151.1200', '3. low': '151.1200', '4. close': '151.1200', '5. volume': '115'}, '2021-11-05 18:07:00': {'1. open': '151.1500', '2. high': '151.1500', '3. low': '151.1200', '4. close': '151.1200', '5. volume': '1155'}, '2021-11-05 18:02:00': {'1. open': '151.1700', '2. high': '151.1700', '3. low': '151.1200', '4. close': '151.1200', '5. volume': '550'}, '2021-11-05 18:01:00': {'1. open': '151.1700', '2. high': '151.1700', '3. low': '151.1700', '4. close': '151.1700', '5. volume': '110'}, '2021-11-05 18:00:00': {'1. open': '151.1400', '2. high': '151.1500', '3. low': '151.1400', '4. close': '151.1500', '5. volume': '1428'}, '2021-11-05 17:59:00': {'1. open': '151.1200', '2. high': '151.1200', '3. low': '151.1200', '4. close': '151.1200', '5. volume': '443'}, '2021-11-05 17:54:00': {'1. open': '151.1200', '2. high': '151.1300', '3. low': '151.1200', '4. close': '151.1300', '5. volume': '935'}, '2021-11-05 17:53:00': {'1. open': '151.1400', '2. high': '151.1400', '3. low': '151.1400', '4. close': '151.1400', '5. volume': '163'}, '2021-11-05 17:52:00': {'1. open': '151.1200', '2. high': '151.1200', '3. low': '151.1200', '4. close': '151.1200', '5. volume': '225'}, '2021-11-05 17:49:00': {'1. open': '151.1100', '2. high': '151.1100', '3. low': '151.1100', '4. close': '151.1100', '5. volume': '1002'}, '2021-11-05 17:48:00': {'1. open': '151.1300', '2. high': '151.1300', '3. low': '151.1300', '4. close': '151.1300', '5. volume': '337'}, '2021-11-05 17:46:00': {'1. open': '151.1300', '2. high': '151.1300', '3. low': '151.1300', '4. close': '151.1300', '5. volume': '425'}, '2021-11-05 17:45:00': {'1. open': '151.1400', '2. high': '151.1400', '3. low': '151.1400', '4. close': '151.1400', '5. volume': '222'}, '2021-11-05 17:41:00': {'1. open': '151.1100', '2. high': '151.1100', '3. low': '151.1100', '4. close': '151.1100', '5. volume': '1644'}, '2021-11-05 17:39:00': {'1. open': '151.1101', '2. high': '151.1101', '3. low': '151.1101', '4. close': '151.1101', '5. volume': '242'}, '2021-11-05 17:37:00': {'1. open': '151.1100', '2. high': '151.1100', '3. low': '151.1100', '4. close': '151.1100', '5. volume': '270'}, '2021-11-05 17:34:00': {'1. open': '151.1100', '2. high': '151.1100', '3. low': '151.1100', '4. close': '151.1100', '5. volume': '199'}, '2021-11-05 17:31:00': {'1. open': '151.1000', '2. high': '151.1300', '3. low': '151.1000', '4. close': '151.1300', '5. volume': '1868'}, '2021-11-05 17:30:00': {'1. open': '151.1000', '2. high': '151.1000', '3. low': '151.1000', '4. close': '151.1000', '5. volume': '224'}, '2021-11-05 17:29:00': {'1. open': '151.1000', '2. high': '151.1000', '3. low': '151.1000', '4. close': '151.1000', '5. volume': '120'}, '2021-11-05 17:28:00': {'1. open': '151.1000', '2. high': '151.1100', '3. low': '151.1000', '4. close': '151.1100', '5. volume': '1015'}, '2021-11-05 17:27:00': {'1. open': '151.1100', '2. high': '151.1100', '3. low': '151.1100', '4. close': '151.1100', '5. volume': '1161'}, '2021-11-05 17:25:00': {'1. open': '151.1200', '2. high': '151.1200', '3. low': '151.1200', '4. close': '151.1200', '5. volume': '183'}, '2021-11-05 17:24:00': {'1. open': '151.1600', '2. high': '151.1600', '3. low': '151.1300', '4. close': '151.1300', '5. volume': '410'}, '2021-11-05 17:23:00': {'1. open': '151.1300', '2. high': '151.1300', '3. low': '151.0700', '4. close': '151.0700', '5. volume': '1083'}, '2021-11-05 17:22:00': {'1. open': '151.1200', '2. high': '151.1200', '3. low': '151.1200', '4. close': '151.1200', '5. volume': '235'}, '2021-11-05 17:20:00': {'1. open': '151.1200', '2. high': '151.1500', '3. low': '151.1200', '4. close': '151.1300', '5. volume': '791'}, '2021-11-05 17:19:00': {'1. open': '151.1300', '2. high': '151.1500', '3. low': '151.0700', '4. close': '151.1100', '5. volume': '6509'}, '2021-11-05 17:18:00': {'1. open': '151.1300', '2. high': '151.1300', '3. low': '151.1300', '4. close': '151.1300', '5. volume': '1222'}, '2021-11-05 17:17:00': {'1. open': '151.1500', '2. high': '151.1500', '3. low': '151.1500', '4. close': '151.1500', '5. volume': '233'}, '2021-11-05 17:13:00': {'1. open': '151.1500', '2. high': '151.2200', '3. low': '151.1400', '4. close': '151.1400', '5. volume': '2543'}, '2021-11-05 17:12:00': {'1. open': '151.1500', '2. high': '151.1500', '3. low': '151.1500', '4. close': '151.1500', '5. volume': '489'}, '2021-11-05 17:10:00': {'1. open': '151.1000', '2. high': '151.1200', '3. low': '151.1000', '4. close': '151.1200', '5. volume': '649'}, '2021-11-05 17:09:00': {'1. open': '151.1200', '2. high': '151.1200', '3. low': '151.1200', '4. close': '151.1200', '5. volume': '150'}, '2021-11-05 17:08:00': {'1. open': '151.1000', '2. high': '151.1000', '3. low': '151.1000', '4. close': '151.1000', '5. volume': '317'}, '2021-11-05 17:07:00': {'1. open': '151.1500', '2. high': '151.1500', '3. low': '151.1000', '4. close': '151.1000', '5. volume': '240'}, '2021-11-05 17:06:00': {'1. open': '151.1000', '2. high': '151.1000', '3. low': '151.1000', '4. close': '151.1000', '5. volume': '504'}, '2021-11-05 17:05:00': {'1. open': '151.1400', '2. high': '151.1400', '3. low': '151.1400', '4. close': '151.1400', '5. volume': '900'}, '2021-11-05 17:04:00': {'1. open': '151.1500', '2. high': '151.1500', '3. low': '151.1100', '4. close': '151.1200', '5. volume': '2541'}, '2021-11-05 17:03:00': {'1. open': '151.1500', '2. high': '151.1500', '3. low': '151.1500', '4. close': '151.1500', '5. volume': '251'}, '2021-11-05 17:02:00': {'1. open': '151.1001', '2. high': '151.2000', '3. low': '151.1001', '4. close': '151.1800', '5. volume': '1921'}, '2021-11-05 17:01:00': {'1. open': '151.2300', '2. high': '151.2300', '3. low': '151.2200', '4. close': '151.2200', '5. volume': '882'}, '2021-11-05 17:00:00': {'1. open': '151.2800', '2. high': '151.2800', '3. low': '151.2500', '4. close': '151.2500', '5. volume': '1398'}, '2021-11-05 16:59:00': {'1. open': '151.2700', '2. high': '151.2800', '3. low': '150.4500', '4. close': '151.2800', '5. volume': '11853'}, '2021-11-05 16:58:00': {'1. open': '151.2100', '2. high': '151.2500', '3. low': '151.2000', '4. close': '151.2500', '5. volume': '2970'}, '2021-11-05 16:57:00': {'1. open': '151.2500', '2. high': '151.2700', '3. low': '151.2000', '4. close': '151.2000', '5. volume': '12140'}, '2021-11-05 16:56:00': {'1. open': '151.2000', '2. high': '151.2500', '3. low': '151.1500', '4. close': '151.2500', '5. volume': '3322'}, '2021-11-05 16:55:00': {'1. open': '151.1999', '2. high': '151.2000', '3. low': '151.1500', '4. close': '151.1500', '5. volume': '2910'}, '2021-11-05 16:54:00': {'1. open': '151.1500', '2. high': '151.1800', '3. low': '151.0800', '4. close': '151.1800', '5. volume': '3191'}, '2021-11-05 16:53:00': {'1. open': '151.1400', '2. high': '151.1500', '3. low': '151.1400', '4. close': '151.1400', '5. volume': '656'}}}

In [82]:
# create a dataframe for data
df = pd.DataFrame(data['Time Series (1min)'])
df

,2021-11-05 19:27:00,2021-11-05 19:19:00,2021-11-05 19:13:00,2021-11-05 19:07:00,2021-11-05 18:47:00,2021-11-05 18:28:00,2021-11-05 18:27:00,2021-11-05 18:22:00,2021-11-05 18:19:00,2021-11-05 18:17:00,...,2021-11-05 15:12:00,2021-11-05 15:11:00,2021-11-05 15:10:00,2021-11-05 15:09:00,2021-11-05 15:08:00,2021-11-05 15:07:00,2021-11-05 15:06:00,2021-11-05 15:05:00,2021-11-05 15:04:00,2021-11-05 15:03:00
1. open,123.2700,123.6500,123.6500,123.6500,123.4000,123.2700,123.2900,123.2700,123.2800,123.2700,...,123.3000,123.3600,123.2700,123.3600,123.3501,123.3600,123.3850,123.3600,123.3700,123.4200
2. high,123.2700,123.6500,123.6500,123.6500,123.4000,123.2700,123.2900,123.2700,123.2800,123.2700,...,123.3113,123.3800,123.3600,123.3600,123.3800,123.3900,123.3850,123.4100,123.4085,123.4300
3. low,123.2700,123.6500,123.6500,123.6500,123.4000,123.2700,123.2800,123.2700,123.2800,123.2700,...,123.2800,123.3100,123.2400,123.2750,123.3501,123.3400,123.3600,123.3500,123.3450,123.3400
4. close,123.2700,123.6500,123.6500,123.6500,123.4000,123.2700,123.2800,123.2700,123.2800,123.2700,...,123.3113,123.3100,123.3600,123.2900,123.3700,123.3600,123.3640,123.3900,123.3755,123.3800
5. volume,170,100,200,200,220,375,380,500,501,500,...,9375,7249,13098,30728,6321,12063,8194,8641,12802,13758

In [83]:
# plot the dataframe with matplotlib
df.plot(x=' ', y='close')

plt.show()

KeyError: ' '

In [ ]:
# Create a function to scrape the data from advfn.com
def scrape_data(url):
    # Create a variable to store the data
    data = []
    # Get the data from the url
    sauce = requests.get(url).text
    # Create a soup object
    soup = bs.BeautifulSoup(sauce, 'lxml')
    # Get the table
    table = soup.find('table', {'class': 'W(100%) M(0)'})
    # Get the rows
    rows = table.find_all('tr')
    # Loop through the rows
    for row in rows:
        # Get the columns
        cols = row.find_all('td')
        # Loop through the columns
        for col in cols:
            # Get the text
            text = col.text.strip()
            # Append the text to the data
            data.append(text)
    # Return the data
    return data

scrape_data("https://advfn.com/nyse/newyorkstockexchange.asp?companies=A")

AttributeError: 'NoneType' object has no attribute 'find_all'

In [ ]:
#create a function to scrape the data from alpaca.com and return the data
def scrape_data_alpaca(url):
    # Create a list to store the data
    data = []
    # Get the data from the url
    sauce = requests.get(url).text
    # Create a soup object
    soup = bs.BeautifulSoup(sauce, 'lxml')
    # Get the table
    table = soup.find('table', {'class': 'W(100%) M(0)'})
    # Get the rows
    rows = table.find_all('tr')
    # Loop through the rows
    for row in rows:
        # Get the columns
        cols = row.find_all('td')
        # Loop through the columns
        for col in cols:
            # Get the text
            text = col.text.strip()
            # Append the text to the data
            data.append(text)
    # Return the data
    return data

scrape_data_alpaca("https://www.alpaca.markets/stocks/A")

AttributeError: 'NoneType' object has no attribute 'find_all'